<div class="container mt-5">
    <div class="row justify-content-md-center">
        <div class="col col-lg-5 d-flex justify-content-between mb-5 ttl-amount">
            <h4>總金額:</h4>
            <h1> {{ totalAmount }} </h1>
        </div>

        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col col-lg-5 mb-3">
                    <form action="/" method="POST">
                        <select class="form-select" name="categoryId" id="categoryId" onchange="this.form.submit()"
                            aria-label="Default select example">
                            <option selected disabled>類別</option>
                            <option value="all">全部</option>
                            <option value="all">家居物業</option>
                            <option value="all">交通出行</option>
                            <option value="all">休閒娛樂</option>
                            <option value="all">餐飲食品</option>
                            <option value="all">其他</option>
                        </select>
                    </form>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <a class="btn btn-info mx-5 col-1" href="">新增一筆</a>
            </div>

        </div>

    </div>

    <div class="col-8 mx-auto">
        <table class="table table-light mt-5">

            <thead class="table-light">
                <tr>
                    <th scope="col">類別</th>
                    <th scope="col">名稱</th>
                    <th scope="col">日期</th>
                    <th scope="col">金額</th>
                    <th scope="col">修改</th>
                    <th scope="col">刪除</th>
                </tr>
            </thead>

            <tbody>
                {{#each records}}
                <tr>
                    <td>{{{ this.category.icon }}}</td>
                    <td>{{ this.name }}</td>
                    <td>{{ dateFormat this.date "YYYY-MM-DD" }}</td>
                    <td>{{ this.amount }}</td>
                    <td><a href="/records/{{this._id}}/edit" class="btn btn-info btn-sm py-2">修改</a></td>
                    <td>
                        <form action="/records/{{this._id}}?_method=DELETE" method="post" class="d-inline"
                            onclick="return confirm('確定刪除這筆消費嗎？')">
                            <button class="btn btn-danger btn-sm py-2" type="submit">刪除
                            </button>
                        </form>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>